body{
    margin:0;
    padding:0;
}
.dialogRight{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 999;
}
.dialogRight > .dialogMask{
    width:100%;
    height:100%;
    background: rgba(0,0,0,.6);
}
.dialogRight > .dialogContent{
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    height: 100%;
    border: 1px solid #dedede;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: -4px 0 11px 0 rgba(0,0,0,.14);
    background: #fff;
    animation-duration: .5s;
    padding: 0 15px;
    z-index: 1000;
}
.dialogContent >.dialogTitle{
    color:#333;
    height:40px;
    line-height: 40px;
    border-bottom:1px solid #ccc;
}
.dialogContent >.dialogCon{
    padding:10px 0;
    width:100%;
    height:auto;
}
.dialogFooter {
    text-align: center;
}
.dialogFooter>input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:70px;
    height:35px;
    background: #fff;
    color:#333;
    border:1px solid #ccc;
    margin:20px;
    cursor: pointer;
    outline: none;
    border-radius:3px;
}
.dialogFooter>input.dialog-commit{
    background: #0099e3;
    color:#fff;
    border-color:#0099e3;
}
.dialogContent >.dialogCon iframe{
    width: 100%;
    height:100%;
}
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes fadeInRight {
    from{
        opacity: 0;
        transform:translate3d(100%,0,0);
        -webkit-transform:translate3d(100%,0,0);
        -moz-transform:translate3d(100%,0,0);
        -ms-transform:translate3d(100%,0,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
    }
}
@-webkit-keyframes fadeInRight {
    from{
        opacity: 0;
        transform:translate3d(100%,0,0);
        -webkit-transform:translate3d(100%,0,0);
        -moz-transform:translate3d(100%,0,0);
        -ms-transform:translate3d(100%,0,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@keyframes fadeOutRight {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform:translate3d(100%,0,0);
        -webkit-transform:translate3d(100%,0,0);
        -moz-transform:translate3d(100%,0,0);
        -ms-transform:translate3d(100%,0,0);
    }
}
@-webkit-keyframes fadeOutRight {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform:translate3d(100%,0,0);
        -webkit-transform:translate3d(100%,0,0);
        -moz-transform:translate3d(100%,0,0);
        -ms-transform:translate3d(100%,0,0);
    }
}
.fadeOutRight{
    animation-name:fadeOutRight;
    -webkit-animation-name:fadeOutRight;
}
